body {
    background-image: url(https://cdn.pixabay.com/photo/2016/04/08/18/46/shopping-mall-1316787_1280.jpg);
    background-size: cover;
    background-position: center;
    /* backdrop-filter:blur(px);
    z-index: -1; */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container-forgotpassword {
    background: white;
    padding: 20px;
    width: 23%;
    height: 36vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* .new_pwd {
    text-align: start;
} */

.password-container {
    position: relative;
    margin-bottom: 30px;
    
}

input {
    display: block;
    width: 94%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.choice{
    display: flex;
}
.password-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.cancel,.comfirm {
    background: linear-gradient(to right, #0468ff, #3ce2ff);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    
    cursor: pointer;
    width: 50%;
}
button a{
  text-decoration: none;
  color: #fff;
}
.cancel{
    margin-left: 68px;
}